<!-- app/views/movies/show.html.erb -->
<h1><%= @movie.name %></h1>
<p><%= @movie.description %></p>
<p><%= @movie.year %></p>
<img src="<%= @movie.image_url %>" alt="<%= @movie.name %>の画像" />

<h2>上映スケジュール</h2>
<table>
  <tr>
    <th>開始時刻</th>
    <th>終了時刻</th>
  </tr>
  <% @schedules.each do |schedule| %>
    <tr>
      <td><%= schedule.start_time.strftime("%H:%M") %></td>
      <td><%= schedule.end_time.strftime("%H:%M") %></td>
    </tr>
  <% end %>
</table>

<!-- 日付選択と上映スケジュール選択のフォーム -->
<%= form_with url: movie_reservation_path(@movie), method: :get, local: true do %>
  <div>
    <label for="date">日付選択:</label>
    <%= select_tag 'date', options_for_select((0..6).map { |i| [i.days.from_now.strftime('%Y-%m-%d'), i.days.from_now.strftime('%Y-%m-%d')] }) %>
  </div>

  <div>
    <label for="schedule_id">上映スケジュール:</label>
    <%= select_tag 'schedule_id', options_from_collection_for_select(@schedules, 'id', 'start_time') %>
  </div>

  <div>
    <%= submit_tag '座席を予約する' %>
  </div>
<% end %>
